@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #36b37e;
  --secondary-color: #172b4d;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --tertiary-font: "Inter", sans-serif;
  --skills-list-bg: #ebf0ee;
  --skills-list-color: #3a4a42;
  --p-text-color: #42526e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
  background: #e5e5e5;
}

.topBar-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
}

/* My Logo */
.logo {
  padding-left: 10px;
}

/* Three dash-setting */
.icon-Union {
  padding-right: 10px;
  color: blue;
}

/* The headline section bg-shapes */
.content-section {
  background-color: white;
  width: 100%;
  height: 100%;
  background-image: url(img/shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* The headline section  */
.main-Container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 718px;
  margin-left: 20px;
  padding-top: 90px;
}

/* h1 text/Primary Text/personal introduction */
.headingTxt {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

/* praragraph/Primary Text/ personal description  */
.text-2 {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

/* LET’S CONNECT text */
.lets-connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.lets-connect a {
  text-decoration: none;
}

/* social media icons */
.social-media-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.list {
  border-radius: 0;
  list-style: none;
}

.list a img {
  height: 20px;
  width: 20px;
}

/* work-section */

.work-section {
  background-color: #f7f7f9;
  width: 100%;
  padding-top: 100px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work-container {
  display: grid;
  grid-template-columns: auto;
  border-radius: 16px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  align-items: center;
  padding: 20px;
  gap: 30px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.snapshot-portofolio img {
  width: 295px;
  height: 220px;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.txtWrapper {
  width: 80%;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 5px;
}

/* Frame 2 */

.tframes {
  display: flex;
  gap: 10px;
  padding: 3px 0;
}

.tframes h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.frames-list {
  display: flex;
  gap: 10px;
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: rgb(122, 134, 154);
}

.frames-list img {
  height: 10px;
  width: 10px;
  top: 12px;
  border-radius: 0;
}

.project-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tag-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  gap: 10px;
}

.tag-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #6070ff;
  background-color: rgb(235, 235, 255);
  padding: 4px 12px;
  border-radius: 8px;
}

.blocks-buttonWrapper {
  padding: 5px 0;
}

.blocks-button {
  border: 1px solid rgb(96, 112, 255);
  border-radius: 8px;
  padding: 12px;
  color: #396df2;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.blocks-button:hover {
  background-color: #6070ff;
  color: white;
  transition: all ease 1s;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.blocks-button:active {
  background-color: hsl(235, 72%, 48%);
  color: white;
  transition: all ease 1s;
}

/* About Myself-section */
.about-section {
  width: 100%;
  height: auto;
  padding-bottom: 150px;
  padding-top: 100px;
  background-image: url(img/about-img/about\ bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 80px 80px;
}

.about-Container {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 80%;
  margin-left: 20px;
}

.skil-List {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
  list-style-type: none;
  width: 90vw;
  margin: 0 auto;
}

.nameList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
}

.skil-List-List {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  list-style-type: none;
}

.skil-List-List-values {
  display: flex;
  align-items: center;
  width: 100%;
  height: 66.72px;
  border-radius: 8px;
  background: #f7f7f9;
  padding: 12px;
  gap: 8px;
}

.L-border {
  border-bottom: solid #f7f7f9;
}

.skil-List-List-values img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.list a img {
  height: 20px;
  width: 20px;
}

@media (min-width: 375px) {
  .content-section {
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .content-section {
    width: 100%;
  }
}
