@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #36b37e;
  --secondary-color: #172b4d;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --tertiary-font: "Inter", sans-serif;
  --skills-list-bg: #ebf0ee;
  --skills-list-color: #3a4a42;
  --p-text-color: #42526e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
  background: #e5e5e5;
}

.topBar-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 92px;
}

/* My Logo */
.logo {
  padding-left: 10px;
  animation: 3s linear 1s infinite running slidein;
}

.logo:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: cale(0.9);
}

/* Three dash-setting */
.icon-Union {
  padding-right: 10px;
  color: blue;
}

/* The headline section bg-shapes */
.content-section {
  background-color: white;
  width: 100%;
  height: 100%;
  background-image: url(img/shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* The headline section  */
.main-Container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 718px;
  margin-left: 20px;
  padding-top: 90px;
}

/* h1 text/Primary Text/personal introduction */
.headingTxt {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

/* praragraph/Primary Text/ personal description  */
.text-2 {
  padding: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

/* LET’S CONNECT text */
.lets-connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.lets-connect a {
  text-decoration: none;
}

/* social media icons */
.social-media-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.list {
  border-radius: 0;
  list-style: none;
}

/* work-section */

.work-section {
  display: grid;
  grid-template-columns: auto;
  border-radius: 16px;
  background-color: #f7f7f9;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 40px;
  margin-bottom: 20px;
  width: auto;
  height: 2788px;
  padding-bottom: 150px;
}

.work-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 5px solid #dfe1e6;
  box-sizing: border-box;
  padding: 20px;
  width: auto;
  margin-left: 25px;
  margin-right: 20px;
}

.cards {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.snapshot-portofolio img {
  padding: auto;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.txtWrapper {
  width: 80%;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 5px;
}

/* Frame 2 */

.tframes {
  display: flex;
  gap: 10px;
  padding: 3px 0;
}

.tframes h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.frames-list {
  display: flex;
  gap: 10px;
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: rgb(122, 134, 154);
}

.frames-list img {
  height: 10px;
  width: 10px;
  top: 12px;
  border-radius: 0;
}

.project-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tag-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 10px;
  gap: 10px;
}

.tag-list li {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #6070ff;
  background-color: rgb(235, 235, 255);
  padding: 4px 12px;
  border-radius: 8px;
}

.blocks-buttonWrapper {
  padding: 5px 0;
}

.blocks-button {
  border: 1px solid rgb(96, 112, 255);
  border-radius: 8px;
  padding: 12px;
  color: #396df2;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.blocks-button:hover {
  background-color: #6070ff;
  color: white;
  transition: all ease 1s;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

.blocks-button:active {
  background-color: hsl(235, 72%, 48%);
  color: white;
  transition: all ease 1s;
}

/* About Myself-section */
.about-section {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  padding-top: 100px;
  background-image: url(img/about-img/about\ bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 80px 80px;
  margin-top: 100px;
}

.about-Container {
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 80%;
  margin-left: 20px;
}

.skil-List {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 12px;
  list-style-type: none;
  width: 90vw;
  margin: 0 auto;
  margin-right: 30px;
}

.nameList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin-right: 20px;
}

.skil-List-List {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  list-style-type: none;
}

.skil-List-List-values {
  display: flex;
  align-items: center;
  width: 100%;
  height: 66.72px;
  border-radius: 8px;
  background: #f7f7f9;
  padding: 12px;
  gap: 8px;
}

.L-border {
  border-bottom: solid #f7f7f9;
}

.skil-List-List-values img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.list a img {
  height: 20px;
  width: 20px;
}

/* Contact me */

.contact-container {
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-image: url(img/contact-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6070ff;
  border-top-left-radius: 80px 80px;
  background-position: right 100%;
  padding-top: 50px;
}

.contact-section {
  height: 779px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 15px;
}

.contact-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 90px;
  text-align: center;
}

.contact-section p {
  left: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20 25px;
  padding-top: 15px;
}

.contact-form-container input {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  box-sizing: border-box;
  outline: none;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 20px;
  margin-top: 5px;
}

.contact-form-container textarea {
  width: 100%;
  height: 180px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #7d7f83;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 20px;
  margin-top: 5px;
}

.contact-form-container textarea:focus,
input:focus {
  border-color: rgb(98, 108, 201);
}

textarea::placeholder {
  color: rgb(48, 58, 61);
  opacity: 0.5;
}

.headerlist {
  display: none;
}

@media (min-width: 375px) {
  .content-section {
    background-size: cover;
  }
}

/* desktop version */

@media (min-width: 768px) {
  .icon-Union {
    display: none;
  }

  .topBar-nav {
    position: sticky;
    top: 0;
    background-color: white;
  }

  .logo {
    padding-left: 100px;
  }

  .headerlist {
    display: flex;
    gap: 8px;
    padding-right: 100px;
    position: sticky;
    top: 0;
    height: 20px;
    list-style-type: none;
  }

  .headerlist a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .headerlist a:hover {
    color: rgb(24, 155, 160);
  }

  .content-section {
    padding-top: 50px;
    background-image: url(img/Header\ bg-desktop.png);
    background-size: contain;
    display: flex;
    height: 718px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 80px 80px;
  }

  .main-Container {
    width: 60%;
    margin-left: 0;
  }

  .headingTxt {
    color: #091e42;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: 400px;
  }

  .text-2 {
    padding: 10px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .work-section {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 16px;
    background-color: #f7f7f9;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 40px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
    padding-bottom: 150px;
  }

  .work-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    border: solid 1px rgb(223, 225, 230);
    box-sizing: border-box;
    width: auto;
    margin-left: 25px;
    margin-right: 20px;
  }

  .cards {
    width: auto;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 20px;
  }

  .snapshot-portofolio img {
    padding-bottom: 0;
  }

  .blocks {
    width: 400px;
    gap: 10px;
    padding-left: 20px;
  }

  .tframes {
    gap: 12px;
  }

  .tframes h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .frames-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .reverse-block {
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .project-text {
    align-items: center;
    font-size: 16px;
    width: 100%;
  }

  .about-section {
    display: flex;
    height: auto;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 150px;
    padding-top: 120px;
    border-top-right-radius: 80px 80px;
  }

  .aboutWrapper {
    padding-top: 10px;
    width: 40%;
  }

  .about-Container {
    padding-left: 40px;
  }

  .about-Container .headingTxt {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 400px;
  }

  .about-Container .text-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 400px;
  }

  .skil-List {
    width: 90vw;
    margin: 0 auto;
    margin-right: 40px;
  }

  .skil-List-List {
    flex-direction: row;
    gap: 10px;
  }

  .skil-List-List-values {
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
    height: auto;
    padding: 10px;
    gap: 8px;
  }

  .nameList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-right: 20px;
  }

  /* comtact me section */

  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/contact-desktop-bg.png);
    background-size: contain;
    gap: 15px;
    background-position: center;
    border-top-left-radius: 80px 80px;
  }

  .contact-section {
    align-items: center;
    width: 50%;
  }

  .contact-form-container {
    align-items: center;
    width: 65%;
  }

  .contact-form-container textarea {
    border: 0 solid #cfd8dc;
    border-radius: 0;
  }

  .contact-form-container input {
    border: 0 solid #cfd8dc;
    border-radius: 0;
  }
}
